{% extends "accounts/base.html" %}
{% load static %}
{% block contents %}

<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<form method = "POST" class="login100-form validate-form" action="{% url 'accounts:renew_password' %}">
				<div style='text-align: center;'><span style='color:red'>
					<!-- Django messages는 일회성으로 데이터를 전달할 때 사용함 -->
					{% if messages %}
						{% for message in messages %}
							{{ message }}
						{% endfor %}
					{% endif %}
					{% comment %}
					{{ request.session.error }}
					{% endcomment %}
				</span></div>
			<form method = "POST" id = "re_pass" class="login100-form validate-form" action="{% url 'accounts:renew_password' %}" onsubmit="return false;">			
				{% csrf_token %}
				
				<span class="login100-form-title p-b-48">
					<a href="{% url 'main:index' %}" style="margin:15px 0px 0px 0px; font-size:20px; color: hsl(22, 97%, 50%);">
						<img src="{% static 'img/dol2.png' %}" style="height:40px; width:45px; margin:0px -25px 0px 0px; position: relative; z-index:1;">
						<img src="{% static 'img/charging2.png' %}" style="height:40px; width:37px; margin:3px -7px 0px 0px;">
								<b><em>JEJU</em></b>
								<b>충전</b>
					</a>
				</span>
				<span class="login100-form-title p-b-26">
					비밀번호변경
					<!-- Sign Up -->
				</span>
				

					
				</span> 
			<div class="form-group">
				<label for="signin-email" id = "np" class="control-label sr-only">기존 비밀번호</label>
				<input type="password" class="form-control" name="lastpass" value="" placeholder="기존 비밀번호">
			</div>
            <div class="form-group">
				<label for="signin-email" class="control-label sr-only">새 비밀번호</label>
				<input type="password" id = "np1" class="form-control" name="newpass1" value="" placeholder= "새 비밀번호" minlength="8" maxlength="16">
			</div> 
            <div class="form-group">
				<label for="signin-email" class="control-label sr-only">새 비밀번호</label>
				<input type="password" id = "np2" class="form-control" name="newpass2" value="" placeholder="비밀번호 확인" minlength="8" maxlength="16">
			</div>
				<button type="submit" class="btn btn-primary btn-lg btn-block" value="register">수정하기</button>
				{% comment %}
				<a href="{% url 'main:datapage' %}" class="btn btn-info btn-lg btn-block">메인페이지 이동</a>
				{% endcomment %}
			</form>
		</div>
	</div>
</div>
{% endblock %}