{% load static %}

<!-- JSON 데이터 추출 확인을 위한 임시 페이지 -->
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>API 테스트</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>

<script src="../../static/vendor/jquery/jquery.js"></script> <!--JQUERY 스크립트 -->

<script>
    $.ajax({
        type: "GET",
        url: "https://apis.data.go.kr/1140100/minAnalsInfoView5/minSimilarInfo5",
        data: {
            'serviceKey' : 'UH+Mc8jhYyRLsrSA7MppqKWOudoTtmD/ylIRBx6kF88i0zvh2u415PmhmYcegUMVcrTmclI4vRNRii//CcKC/g==',
            'startPos' : '1',
            'retCount' : '100',
            'searchword' : '전기자동차',
            'target' : 'qna, qna_origin',
            'dataType' : 'json'
        },
        success : function(response) {
            //console.log(response) // 1일 제한 횟수 100회 이므로 최대한 사용 자제
        }
    })
</script>

<body>
    
</body>
</html>